/* Universal Selector */


/*

* {
    color: white;
    background-color: black;
    width: fit-content;
}

*/


/* ==============================================================================================================================*/


/* Type Selector */


/*
p {
    color: white;
    background-color: black;
    width: fit-content;
}
*/


/* WE can use more type selector at the same time like that */


/*
h1,
h2,
h3 {
    color: orange;
}
*/


/* =================================================================================================================================*/


/* CLASS Selector */


/*
.h1 {
    color: blue;
    background-color: chartreuse;
    width: fit-content;
}
*/


/* OR you can use it */


/*
h1.h1 {
    color: blue;
    background-color: chartreuse;
    width: fit-content;
}
*/


/* ===================================================================================================================================*/


/* ID Selector */


/*
#the_bold {
    font-weight: normal;
    color: red;
}
*/


/*======================================================================================================================================*/


/* CHILD SELECTOR */


/*
div>a {
    color: red;
    text-decoration: none;
}
*/


/*========================================================================================================================================*/


/* descendant selector */


/*
div a {
    color: red;
    text-decoration: none;
}
*/


/* =====================================================================================================================================*/


/* (((ADJACENT SELECTOR))) */


/*
h2+p {
    color: white;
    background-color: gray;
}
*/


/* ========================================================================================================================================*/


/* (((GENERAL SIBLING SELECTOR))) */


/*
h3~p {
    color: red;
    background-color: black;
    width: fit-content;
}
*/